.Monster {
  display: flex;
  position: relative;
  width: calc(50% - 20px);
  height: 80%;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.Monster p {
  position: absolute;
  width: 10px;
  left: 0;
  bottom: 0;
}

.Virus {
  position: relative;
  animation: bounce infinite 2s ease-in-out;
}

@keyframes bounce {
  0% {
    left: 0;
  }
  25% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  75% {
    left: 10px;
  }
  100% {
    left: 0;
  }
}

.attack {
  position: relative;
  animation: attack 500ms ease-in-out;
}

@media screen and (max-width: 768px) {
  .Monster p {
    width: 5px;
  }
}
