.Nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Nav p {
  overflow: hidden;
  margin-right: 10px;
}
.Nav button {
  padding: 5px 10px;
  cursor: pointer;
}
.Nav img {
  display: block;
  border-radius: 50%;
  width: 15%;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .Nav {
    width: 50%;
  }
  .Nav p {
    width: 50%;
  }
  .Nav p img {
    width: 50%;
  }
  .Nav button {
    width: 50%;
  }
}
